<html>
    <link rel="stylesheet" href="./../stylesheets/users.css">
    <style>
        #site-main > div > div.box-nav.d-flex-justify-between > div > a > span{
            padding: 10px;
        }
    </style>
  <body>
    <main id="site-main">
      <div class="container">
        <div class="box-nav d-flex-justify-between">
          <div class="filter">
            <a onclick="/" class="border-shadow">
              <span class="text-gradient"><i class="fa-solid fa-angles-left"></i> All Users</span>
            </a>
          </div>
        </div>
        <div class="form-title text-center">
          <h2 class="text-dark">New User</h2>
          <span class="text-light">Create an New User</span>
        </div>
        <form action="/api/users" method="POST" id="add_user">
          <div class="new_user">
            <div class="form-group">
              <label for="name" class="text-light">Name</label>
              <input type="hidden" name="id" value="" />
              <input
                type="text"
                name="name"
                value=""
                placeholder="Navleen Kaur"
              />
            </div>
            <div class="form-group">
              <label for="Email" class="text-light">Email</label>
              <input
                type="text"
                name="email"
                value=""
                placeholder="example@gmail.com"
              />
            </div>
            <div class="form-group">
              <label for="name" class="text-light">Program</label>
              <input type="hidden" name="id" value="" />
              <input
                type="text"
                name="name"
                value=""
                placeholder="Computer Programming"
              />
            </div>
            <div class="form-group">
              <label for="gender" class="text-light">Gender</label>
              <div class="radio inline">
                <input type="radio" id="radio-2" name="gender" value="Male" />
                <label for="radio-2" class="radio-label">Male</label>
              </div>
              <div class="radio inline">
                <input type="radio" id="radio-3" name="gender" value="Female" />
                <label for="radio-3" class="radio-label">Female</label>
              </div>
            </div>
            <div class="form-group">
              <button type="submit" class="btn text-dark update">Save</button>
            </div>

          </div>
        </form>
      </div>
    </main>
     <script src="https://kit.fontawesome.com/ec2f5a2b4b.js" crossorigin="anonymous"></script>  
  </body>
</html>